.App {
  text-align: center;
  /* height: "100vh"; */
  /* width: "100%" !important; */
}

.App-logo {
  /* height: 20vmin; */
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* z-index: 1; */

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .custom-scrollbar-thumb, .custom-scrollbar
.Scrollbar {
  scrollbar-color: black;
  overflow-y: scroll;
} */
.custom-scrollbar {
  display: block;
  /* width: 10em; */
  overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 14px;
  height: 4px;
  background-color: black; /* or add it to the track */
}

/* .custom-scrollbar::-webkit-scrollbar-track {
  border-width: 4px;
  background: yellow;
  border: 4px solid red;
} */

.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 6px;
  background: #aaa;
  max-height: 10px;
  padding: 2px;
  background-clip: padding-box;
  border-right:3px solid transparent;
  border-left:3px solid transparent;
}

/* scrollbar dark gray */
.scrollbar-dark-gray {
  display: flex;
  /* display: block; */
  /* width: 10em; */
  overflow-y: scroll;
}
.scrollbar-dark-gray::-webkit-scrollbar {
  width: 14px;
  height: 4px;
  background-color: #292a33;
  /* border-left: ; */
  border-left: 2px solid black;
  /* background-color: gray; */
}
.scrollbar-dark-gray::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 6px;
  background: #aaa;
  /* background: #292a33; */
  max-height: 10px;
  padding: 2px;
  background-clip: padding-box;
  border-right:3px solid transparent;
  border-left:3px solid transparent;
}

/* scrollbar dark gray horizontal*/
.scrollbar-dark-gray-horizontal {
  display: flex;
  /* display: block; */
  /* width: 10em; */
  overflow-x: scroll;
  overflow-y: hidden;
}
.scrollbar-dark-gray-horizontal::-webkit-scrollbar {
  /* width: 4px; */
  height: 14px;
  background-color: black;
  border-top: 2px solid black;
}
.scrollbar-dark-gray-horizontal::-webkit-scrollbar-thumb {
  height: 5px;
  border-radius: 6px;
  background: #aaa;
  max-width: 10px;
  padding: 2px;
  background-clip: padding-box;
  border-bottom:5px solid transparent;
  border-top:5px solid transparent;
}

.search-dm-input-text {
  color: white;
}

.search-input-placeholder::placeholder {
  color: white;
}

.display-linebreak {
  white-space: pre-line;
}

.circle {
  display: flex;
  width: 30px;
  height: 20px;
  background-color: red;
  border-radius: 40%;
}

.noNewMessage {
  display: flex;
  width: 30px;
  height: 20px;
}

/* SOLUTION to video background scaling and fitting full screen view and maintain aspect ratio */
/* https://stackoverflow.com/questions/66026657/how-can-i-make-my-background-video-full-screen-in-react */
/* https://css-tricks.com/full-page-background-video-styles/ */
/* https://medium.com/@infinitysanctum8/how-to-add-a-video-background-in-react-js-8c31e0bc4f42 */
#video {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
